body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 15px;
    margin-bottom: 1px;
}

section h2 {
    color: #333;
}

section h3 {
    color: #333;
}

#towary a {
    color: #ff0000;
    text-decoration: none;
}

#wroc a {
    color: #ff0000;
    text-decoration: none;
}

table {
    border-collapse: collapse;
    width: 30%;
}

th, td {
    border: 1px solid #000000;
    padding: 4px;
    text-align: left;
}

th {
    background-color: #ededed;
}

section:last-of-type {
    margin-bottom: 80px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
